@popupPrefix: st-tag;

.@{popupPrefix} {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 12px;
  color: black;
  background: white;
  border-color: #dfe2e7;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
}

#normal {
  height: 22px;
  padding: 1px 8px;
}

#middle {
  height: 36px;
  padding: 8px;
}

#max {
  height: 44px;
  padding: 12px;
}

button {
  color: #c4c5c7;
  text-align: center;
  background: white;
  border: 0;
}

.addTagButton {
  color: black;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
}

.box {
  display: table;
}
