@popupPrefix: st-tag;

.@{popupPrefix} {
  float: left;
  margin: 12px;
  padding-right: 8px;
  padding-left: 8px;
  color: black;
  background: white;
  border-color: #dfe2e7;
  border-width: 1px;
  border-radius: 2px; // 自适应宽度
}

button {
  color: #c4c5c7;
  text-align: center;
  background: white;
  border: 0ch;
}

.addTagButton {
  color: black;
}
