@import '../../style/index.less';

.upload {
  display: block;

  &-btn {
    color: @text-color-1;
    border-color: @grey-3;

    :hover {
      color: @blue-1;
      border-color: @blue-1;
    }
  }
}
