@import '../../style/index.less';

@ribbon-prefix-cls: st-badge-ribbon;
@ribbon-wrapper-prefix-cls: st-badge-ribbon-wrapper;

.@{ribbon-wrapper-prefix-cls} {
  position: relative;
}

.@{ribbon-prefix-cls} {
  position: absolute;
  top: 8px;
  height: 22px;
  padding: 0 8px;
  color: @white;
  line-height: 22px;
  white-space: nowrap;
  background-color: @blue-1;
  border-radius: 4px;

  &-text {
    color: @white;
  }

  &-corner {
    position: absolute;
    top: 100%;
    width: 4px;
    height: 3px;
    color: @shade-color-25;
    border: 2px solid;
    // If not support IE 11, use filter: brightness(75%) instead
    &::after {
      position: absolute;
      top: 0px;
      left: 0px;
      width: inherit;
      height: inherit;
      color: @shade-color-25;
      border: inherit;
      content: '';
    }
  }

  // colors
  // mixin to iterate over colors and create CSS class for each one
  // .make-color-classes(@i: length(@preset-colors)) when (@i > 0) {
  //   .make-color-classes(@i - 1);
  //   @color: extract(@preset-colors, @i);
  //   @darkColor: '@{color}-6';
  //   &-color-@{color} {
  //     color: @@darkColor;
  //     background: @@darkColor;
  //   }
  // }
  // .make-color-classes();

  // placement
  &.@{ribbon-prefix-cls}-placement-end {
    right: -8px;
    border-bottom-right-radius: 0;
    .@{ribbon-prefix-cls}-corner {
      right: 0;
      border-color: currentcolor transparent transparent currentcolor;
    }
  }

  &.@{ribbon-prefix-cls}-placement-start {
    left: -8px;
    border-bottom-left-radius: 0;
    .@{ribbon-prefix-cls}-corner {
      left: 0;
      border-color: currentcolor currentcolor transparent transparent;
    }
  }
}
