@import '../../component/style/index.less';

.tooltip {
  display: flex;
  align-items: center;
  font-size: @font-size-12;

  .row {
    display: inline-flex;
    margin: auto;
    white-space: nowrap;
  }

  .sub {
    margin-right: 120px;
  }
}

.tooltip-box {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: auto;
  font-size: @font-size-12;
  background-color: @white;

  .row1 {
    margin-bottom: 40px;
    margin-left: 120px;
    white-space: nowrap;

    .data1 {
      position: relative;
      display: inline-flex;
      margin-right: 120px;
      padding: 0;
      text-align: center;

      .span {
        padding: 4px 8px;
        border: 1px solid @grey-2;
      }
    }
  }

  .column1 {
    display: block;
    float: left;
    width: 120px;

    .data1 {
      width: 120px;
      margin-bottom: 40px;
      padding: 0;
      text-align: center;

      .span {
        padding: 4px 8px;
        border: 1px solid @grey-2;
      }
    }
  }

  .column2 {
    display: block;
    float: right;
    width: 120px;

    .data1 {
      width: 120px;
      margin-bottom: 40px;
      padding: 0;
      text-align: center;

      .span {
        padding: 4px 8px;
        border: 1px solid @grey-2;
      }
    }
  }

  .row2 {
    clear: both;
    margin-top: 40px;
    margin-left: 120px;
    white-space: nowrap;

    .data1 {
      position: relative;
      display: inline-flex;
      margin-right: 120px;
      padding: 0;
      text-align: center;

      .span {
        padding: 4px 8px;
        border: 1px solid @grey-2;
      }
    }
  }
}
